:root {
  --width: 1680px;

  --s0: 0.5rem;
  --s1: 1rem;
  --s2: 2rem;
  --s3: 2.6rem;
  --s4: 4rem;
  --s5: 5rem;

  --gutter: var(--s1);
  --margins: var(--s3);

  --dark: #424550;
  --light: white;
  --muted: rgba(66, 69, 80, 0.65);
  --highlight: #d59476;
}

@media (max-width: 888px) {
  :root {
    --gutter: var(--s0);
    --margins: var(--s1);
  }
}

* {
	box-sizing: border-box;
}


html {
  font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  line-height: 1.25;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: var(--dark);
  background: var(--light);
}

a {
  color: currentColor;
  text-decoration: none;
}

  a:hover,
  a:focus {
    color: var(--highlight);
  }

h1, .h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0 0 var(--s4);
}

h2, .h2 {
  font-size: 2.66rem;
  font-weight: normal;
  margin: 0 0 var(--s4);
}

h4, .h4 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 var(--s4);
}

h5, .h5 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 0 var(--s2);
}

h6, .h6 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 var(--s2);
}

p {
  font-size: 1rem;
  margin: 0 0 var(--s1);
  white-space: pre-line;
}

small > p {
  font-size: 0.75rem;
}

p > a {
  text-decoration: underline;
}

button,
label,
input {
  color: currentColor;
  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--highlight);
}

figure {
  position: relative;
  margin: 0 0 var(--s4);
}

[id] {
  scroll-margin-top: calc(var(--s5) * 2);
}

section.grid {
  max-width: var(--width);
  margin: var(--s4) auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gutter);
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid;
  opacity: 0.1;
}

section.grid + hr {
  max-width: var(--width);
  margin: 0 auto;
}

.columns > p,
.columns > ul,
.columns > ol {
  column-count: 2;
  column-gap: var(--gutter);
}

@media (max-width: 888px) {
  .columns > p,
  .columns > ul,
  .columns > ol {
    column-count: 1;
  }

}